<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671220327435-8f1vhhh9llnnek41ve8354f61bf7ofe8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671220327435-8f1vhhh9llnnek41ve8354f61bf7ofe8</string>
	<key>API_KEY</key>
	<string>AIzaSyBsSOrVnP3i13sWs0TdBcMer-b59jsA-n8</string>
	<key>GCM_SENDER_ID</key>
	<string>671220327435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.application.converter</string>
	<key>PROJECT_ID</key>
	<string>mongolbichig-a4767</string>
	<key>STORAGE_BUCKET</key>
	<string>mongolbichig-a4767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671220327435:ios:b9e991019b73739048130e</string>
</dict>
</plist>